# SPDX-FileCopyrightText: The discro authors
# SPDX-License-Identifier: MPL-2.0

[package]
name = "discro"
description = "DISCRete Observables for asynchronous Functional Reactive Programming (FRP)."
version = "0.6.0"
license = "MPL-2.0"
readme = "README.md"
repository = "https://github.com/uklotzde/discro"
keywords = ["async", "await", "reactive", "observable", "synchronization"]
categories = ["asynchronous", "concurrency"]
edition = "2021"

[dependencies]
thiserror = "1.0"
tokio = { version = "1.20", optional = true, default-features = false, features = [
    "sync",
] }

[dev-dependencies]
async-trait = "0.1"

[features]
default = []
tokio = ["dep:tokio"]
